In [1]:
import numpy as np
import pandas as pd

In [2]:
un_panda_numpy = np.array([100,5,20,80])
un_panda_numpy

array([100,   5,  20,  80])

In [26]:
famille_pandas = [
    [100, 5, 20, 80], # maman panda
    [50, 2.5, 10, 40], # bébé panda
    [110, 6, 22, 80], # papa panda
]
famille_pandas_numpy = np.array(famille_panda)
famille_pandas_numpy

array([[100. ,   5. ,  20. ,  80. ],
       [ 50. ,   2.5,  10. ,  40. ],
       [110. ,   6. ,  22. ,  80. ]])

In [27]:
famille_pandas_numpy[2, 0] #tailles pates de papa pandas

110.0

In [28]:
famille_pandas_df = pd.DataFrame(famille_pandas_numpy, index=['maman', 'bebe', 'papa'], columns= ['pattes', 'poil', 'queue', 'ventre'])

In [29]:
famille_pandas_df

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bebe     50.0   2.5   10.0    40.0
papa    110.0   6.0   22.0    80.0

In [30]:
famille_pandas_df.ventre #print a column

maman    80.0
bebe     40.0
papa     80.0
Name: ventre, dtype: float64

In [31]:
famille_pandas_df.loc['papa'] #print a row via a label

pattes    110.0
poil        6.0
queue      22.0
ventre     80.0
Name: papa, dtype: float64

In [32]:
famille_pandas_df.iloc[2] #print a row via an index

pattes    110.0
poil        6.0
queue      22.0
ventre     80.0
Name: papa, dtype: float64

In [33]:
famille_pandas_df[famille_panda_df.ventre==80] #print values according to a condition

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
papa    110.0   6.0   22.0    80.0

In [49]:
famille_pandas_df[famille_panda_df.ventre!=80] #print values according to a condition #it works with !=

      pattes  poil  queue  ventre sex
bebe    50.0   2.5   10.0    40.0   f

In [34]:
autres_pandas = pd.DataFrame([[105, 4, 19, 80], [100, 5, 20, 80]], columns = famille_pandas_df.columns)

In [36]:
tous_les_pandas = famille_pandas_df.append(autres_pandas) #Append new entries / concatane two DataFrames

In [37]:
tous_les_pandas

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bebe     50.0   2.5   10.0    40.0
papa    110.0   6.0   22.0    80.0
0       105.0   4.0   19.0    80.0
1       100.0   5.0   20.0    80.0

In [46]:
tous_les_pandas.drop_duplicates() #drop duplicate rows

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bebe     50.0   2.5   10.0    40.0
papa    110.0   6.0   22.0    80.0
0       105.0   4.0   19.0    80.0

In [45]:
famille_pandas_df['sex'] = ['f', 'f', 'm'] #add a new column

In [41]:
famille_pandas_df

       pattes  poil  queue  ventre sex
maman   100.0   5.0   20.0    80.0   f
bebe     50.0   2.5   10.0    40.0   f
papa    110.0   6.0   22.0    80.0   m

In [44]:
data = pd.read_csv('pandas.csv') #create a DataFrame to import datas from a csv

In [43]:
data

   Taille   Poils  Sex
0     150       5    m

In [47]:
for ind_ligne, contenu_ligne in famille_pandas_df.iterrows(): #iterate all rows of a df
    print('voici le panda %s :' % ind_ligne)
    print(contenu_ligne)
    print('__________')

voici le panda maman :
pattes    100
poil        5
queue      20
ventre     80
sex         f
Name: maman, dtype: object
__________
voici le panda bebe :
pattes     50
poil      2.5
queue      10
ventre     40
sex         f
Name: bebe, dtype: object
__________
voici le panda papa :
pattes    110
poil        6
queue      22
ventre     80
sex         m
Name: papa, dtype: object
__________