In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([[12, 25, 2017, 10], [1, 15, 2018, 11]],
                  columns=['month', 'day','year', 'hour'])
df

   month  day  year  hour
0     12   25  2017    10
1      1   15  2018    11

In [5]:
 pd.to_datetime(df[['month', 'day', 'year']])

0   2017-12-25
1   2018-01-15
dtype: datetime64[ns]

In [6]:
df

   month  day  year  hour
0     12   25  2017    10
1      1   15  2018    11

In [8]:
df.index = pd.to_datetime(df[['month', 'day', 'year']])
df

            month  day  year  hour
2017-12-25     12   25  2017    10
2018-01-15      1   15  2018    11