In [1]:
import numpy as np

In [3]:
np.ones(shape=3) #Create an np array of ones with one dimension and three elements

array([1., 1., 1.])

In [5]:
np.ones(shape=(2,2)) #Create an np array of ones with two dimensions and two elemnts for each one

array([[1., 1.],
       [1., 1.]])

In [6]:
np.ones(shape=(2,2,3))

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [11]:
a = np.ones((2,2))

In [12]:
a

array([[1., 1.],
       [1., 1.]])

In [13]:
a[1, 1] = 18

In [14]:
a

array([[ 1.,  1.],
       [ 1., 18.]])

In [15]:
np.sctypes #Check all available type for a np array

{'int': [numpy.int8, numpy.int16, numpy.int32, numpy.int64],
 'uint': [numpy.uint8, numpy.uint16, numpy.uint32, numpy.uint64],
 'float': [numpy.float16, numpy.float32, numpy.float64, numpy.float128],
 'complex': [numpy.complex64, numpy.complex128, numpy.complex256],
 'others': [bool, object, bytes, str, numpy.void]}

In [18]:
a = np.array([1, 100, 110], dtype=np.int8) #Convert a Python list in a np array specifying the dtype

In [17]:
a

array([  1, 100, 110], dtype=int8)

In [19]:
a.dtype

dtype('int8')

In [21]:
a.itemsize #Check memory usage in bytes

1

In [22]:
a.nbytes

3

In [23]:
np.array([1, 4.5, 128], dtype = np.int8)

array([   1,    4, -128], dtype=int8)

In [26]:
a = np.array([1, 2, np.nan]) #Nan is only encoded in float. So all values will be converted in float

In [25]:
a.dtype

dtype('float64')

In [28]:
a = np.array([1, 2, np.nan], dtype=np.int32) #Is impossible to convert NaN to integer

ValueError: cannot convert float NaN to integer

In [29]:
np.sctypes['others']

[bool, object, bytes, str, numpy.void]

In [31]:
a = np.array(['spam', 'bean'], dtype=np.str)

In [33]:
a #Numpy converted all strings with lenth of the longest one

array(['spam', 'bean'], dtype='<U4')

In [34]:
a = np.array(['spam', 'beans'], dtype=np.str)

In [35]:
a

array(['spam', 'beans'], dtype='<U5')

In [39]:
a = np.array(['spam', 'beans'], dtype=(np.str, 2)) #It is possible to specify in a tuple len of str to save

In [38]:
a

array(['sp', 'be'], dtype='<U2')

In [41]:
np.sctypes['others'] #object : stores reference to an object, numpy.void: store specific objetcs)

[bool, object, bytes, str, numpy.void]