In [3]:
s = set()

type(s)

In [4]:
type(s)

set

In [5]:
s = {1, 2, 3, 'a', True}

In [6]:
a = [1, 2, 4, 1, 18, 30, 4, 1]

In [7]:
set(a) #To retrieve unique values only

{1, 2, 4, 18, 30}

In [8]:
len(s)

4

In [9]:
1 in s

True

In [11]:
'b' in s

False

In [12]:
s.add('alice')

In [13]:
print(s)

{1, 2, 3, 'alice', 'a'}

In [14]:
s.update([1, 2, 3, 4, 5, 6, 7]) #Will only update the set with value that are not allready included

In [15]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 'alice', 'a'}

In [16]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [20]:
s1 - s2 #Drop value included in s2 in s1

{1, 2}

In [21]:
s1 | s2 #Union of s1 and s2

{1, 2, 3, 4, 5}

In [23]:
s1 & s2 #intersection of s1 and s2

{3}

In [24]:
a = [0]
s = set(a)

%timeit -n 50 0 in a

In [25]:
%timeit -n 50 0 in a

33.7 ns ± 3.04 ns per loop (mean ± std. dev. of 7 runs, 50 loops each)

In [26]:
%timeit -n 50 0 in s

39.2 ns ± 4.23 ns per loop (mean ± std. dev. of 7 runs, 50 loops each)