In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({'id': [100, 101, 102], 'color' : ['red', 'blue', 'red']}, columns = ['id', 'color'], index= ['a', 'b','c']) #construct a DataFram from a dictionary

Specifiy the order of columns by passing a list in column parameter and index by passing a list in dex parameter

In [10]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102,'red']], columns= ['id', 'color']) #construct a DataFrame from a list of list

    id color
0  100   red
1  101  blue
2  102   red

Each nested list became a row

In [11]:
import numpy as np

In [13]:
arr = np.random.rand(4, 2)
arr

array([[0.26074642, 0.85199385],
       [0.57883289, 0.21330859],
       [0.6518462 , 0.62663777],
       [0.0496534 , 0.02250927]])

In [16]:
pd.DataFrame(arr, columns=['one','two']) #Construct a DataFrame from a Numpy array

        one       two
0  0.260746  0.851994
1  0.578833  0.213309
2  0.651846  0.626638
3  0.049653  0.022509

In [18]:
pd.DataFrame({'student' : np.arange(100, 110, 1), 'test' : np.random.randint(60,101, 10)}).set_index('student')

         test
student
100        74
101        96
102        70
103        84
104        65
105        77
106        79
107        75
108        77
109        96

**np.arrange** : generate a Numpy array using a range. As a default python range, parameters are : 
- first value
- last value (not inclusive)
- step

In [19]:
s = pd.Series(['round', 'square'], index = ['c', 'b'], name = 'shape')
s

c     round
b    square
Name: shape, dtype: object

In [20]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [22]:
pd.concat([df, s], axis = 1) #Name of the serie become the name of the last concatened column

/home/cedricsoares/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round