In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ri = pd.read_csv('police.csv')

In [3]:
ri.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# Which year had the least number of stops ?

In [8]:
ri.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [16]:
ri['date_time'] = pd.to_datetime(ri['stop_date']) #datetime method

In [17]:
ri['date_time'].dt.year.value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: date_time, dtype: int64

In [19]:
ri.stop_date.str.slice(0, 4).value_counts() #using a string method

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: stop_date, dtype: int64

In [20]:
combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')

In [23]:
pd.to_datetime(combined)

0       2005-01-02 01:55:00
1       2005-01-18 08:15:00
2       2005-01-23 23:15:00
3       2005-02-20 17:15:00
4       2005-03-14 10:00:00
5       2005-03-23 09:45:00
6       2005-04-01 17:30:00
7       2005-06-06 13:20:00
8       2005-07-13 10:15:00
9       2005-07-13 15:45:00
10      2005-07-13 16:20:00
11      2005-07-13 19:00:00
12      2005-07-14 19:55:00
13      2005-07-18 19:30:00
14      2005-07-18 19:45:00
15      2005-07-19 00:30:00
16      2005-07-19 00:30:00
17      2005-07-19 23:30:00
18      2005-07-20 00:05:00
19      2005-07-24 20:10:00
20      2005-07-28 12:37:00
21      2005-08-07 16:50:00
22      2005-08-08 02:09:00
23      2005-08-18 10:57:00
24      2005-08-28 01:00:00
25      2005-09-03 16:02:00
26      2005-09-17 10:54:00
27      2005-09-21 13:30:00
28      2005-09-22 22:34:00
29      2005-09-26 01:05:00
                ...
91711   2015-12-30 15:42:00
91712   2015-12-30 16:19:00
91713   2015-12-30 17:07:00
91714   2015-12-30 17:39:00
91715   2015-12-30 23:26:00
91716   2015-12-30 23:33:00
91717   2015-12-31 00:00:00
91718   2015-12-31 00:01:00
91719   2015-12-31 06:31:00
91720   2015-12-31 06:32:00
91721   2015-12-31 06:49:00
91722   2015-12-31 07:06:00
91723   2015-12-31 07:14:00
91724   2015-12-31 07:27:00
91725   2015-12-31 08:14:00
91726   2015-12-31 08:41:00
91727   2015-12-31 09:17:00
91728   2015-12-31 13:50:00
91729   2015-12-31 14:21:00
91730   2015-12-31 15:36:00
91731   2015-12-31 16:38:00
91732   2015-12-31 19:44:00
91733   2015-12-31 19:55:00
91734   2015-12-31 20:20:00
91735   2015-12-31 20:25:00
91736   2015-12-31 20:27:00
91737   2015-12-31 20:35:00
91738   2015-12-31 20:45:00
91739   2015-12-31 21:42:00
91740   2015-12-31 22:46:00
Name: stop_date, Length: 91741, dtype: datetime64[ns]